:root {
    --background: #8cd4ff;
    --main: #c4e9ff;
    --ojos: #667686c4;
    --sonrisa: #667686c4;
    --moflete: #ffb6c1a6;
    --sun: #ffbc00;
    --reflection: rgb(109, 150, 207);
}


#icecube {
    
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    background-color: var(--background);
    overflow: hidden;
    position: relative;
}

.icecube {
    width: 345px;
    position: relative;
    z-index: 0;

}

.lados  {
    flex-basis: 80%;
}

.lado {
    width: 30%;
    height: 30%;
    position: absolute;
    background-color: var(--main);
    box-shadow: inset 0vmin 0vmin 4vmin 2vmin var(--reflection);
    background: linear-gradient(178deg, rgba(247,247,255,1) 0%, rgba(217,217,217,0.8) 51%, rgb(136 235 255) 100%);
}

.uno {
    bottom: 33%;
    right: 26%;
    border-radius: 11%;
    transform: rotateX(-81deg) rotateY(0deg) skew(-30deg, 30deg);
}

.dos {
    bottom: 16%;
    right: 37%;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    transform: rotateX(0deg) rotateY(0deg) skew(0deg, 5deg);
}

.tres {
    bottom: 17%;
    right: 12%;
    border-radius: 10%;
    transform: rotateX(0deg) rotateY(49deg) skew(0deg, -10deg);
}

/* OJOS */

.ojos   {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-basis: 50%;
}

.ojo {
    width: 15%;
    height: 10%;
    border-top: 1vmin solid var(--ojos);
    border-radius: 50%;
    background-color: transparent;
}

/* BOCA */

.boca {
    display: flex;
    justify-content: center;
    flex-basis: 10%;

}

.sonrisa {
    flex-basis: 33%;
    border-bottom: 1vmin solid var(--sonrisa);
    border-radius: 50%;
}

.moflete {
    flex-basis: 47%;
    border-radius: 50%;
    background-color: var(--moflete);
    margin: 0 5%;
}

/* AGUA */

.agua {
    width: 93%;
    height: 15%;
    position: absolute;
    bottom: 10%;
    left: 9%;
    border-radius: 50%;
    background: #09659cf0;
    z-index: -1;
    box-shadow: inset 7.5vmin 0vmin 2vmin 0vmin #29affff2, 10.5vmin 1vmin 1vmin -1vmin #185e8ab0;

}

/* GOTAS */

.gota  {
    width: 6%;
    height: 5%;
    background-color: #55beff;
    border-block: 2px solid cornflowerblue;
    position: absolute;
    box-shadow: inset .5vmin 0vmin .3vmin 0.1vmin #d6ecfa;

}

.primera {
    bottom: 42%;
    right: 70%;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(44deg);
    
}

.segunda {
    width: 3%;
    height: 3%;
    bottom: 38%;
    right: 69%;
    border-radius: 50% 50% 40% 50%;
    transform: rotate(50deg);
    
}


.tercera {
    width: 4%;
    height: 3%;
    bottom: 49%;
    right: 67%;
    border-radius: 50% 50% 50% 0%;
    transform: rotate(276deg);
}


.cuarta {
    bottom: 34%;
    right: 16%;
    border-radius: 50% 50% 50% 0%;
    transform: rotate(131deg);
}


/* SOL */

.sun {
    flex-basis: 150px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 7%;
    margin-right: 15%;
    box-shadow: 0vmin 0vmin 3vmin 4vmin #ffd714;
    z-index: 0;
   
}

.esfera {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--sun);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0vmin 0vmin 2vmin 2vmin #efa622;
}

.esfera > h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: orangered;
    font-size: 46px;
}

/* RAYOS */

.rayo {
    width: 100%;
    height: 100%;
    background-color: orange;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.rayo:nth-of-type(1) {
    transform: rotate(0deg);
}

.rayo:nth-of-type(2) {
    transform: rotate(15deg);
}

.rayo:nth-of-type(3) {
    transform: rotate(30deg);
}

.rayo:nth-of-type(4) {
    transform: rotate(45deg);
}

.rayo:nth-of-type(5) {
    transform: rotate(60deg);
}

.rayo:nth-of-type(6) {
    transform: rotate(75deg);
}


/* SUELO 

.suelo {
    width: 73%;
    height: 29%;
    background-color: khaki;
    border-radius: 660% 7% 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: inset 3vmin -0.4vmin 2vmin 0vmin #9f4f00, inset 1vmin 0vmin 3vmin 1vmin rgb(243 214 134), -55vmin 63vmin .1vmin 65vmin #348ee6, -70vmin 58vmin .1vmin 60vmin #5481d3;

}

*/